<div class="card bg-light mb-3">
<div class="card-header"><h4 id="titulo">{{titulo}}</h4></div>
<div class="card-body">
    <button class="btn btn-primary my-2" routerLink="/libros/form">Crear Libro</button>
<table class="table table-hover table-stripped">
    <thead>
        <tr>
         
           <th>TITULO</th>
            <th>AUTOR</th>
            <th>EDITORIAL</th>
            <th>EDITAR</th>
            <th>ELIMINAR</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
        
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.editorial}}</td>
            <td><button class="btn btn-secondary" 
                [routerLink]="['/libros/form',libro.idLibro]">Editar</button></td>
                <td><button class="btn btn-danger" (click)="eliminar(libro)"
                    >Eliminar</button></td>

               
        </tr>
    </tbody>
</table>
</div>
</div>
